body {background-color:black;
	color:white;
	font:arial;
}


mark{
	
	
	background-color: aquamarine;
	color: red;
	font-style: italic;
}

h1 {color:grey;
	font:verdana;
	padding: 0px 10px;
}









.slider{
	
	-webkit-appearance: none;
	width: 50%;
	height: 10px;
	background: linear-gradient(90deg, dodgerblue 60%, rgb(214,214,214) );
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-radius: 12px;
	
	
}




.slider::-webkit-slider-thumb{
	
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
background:  dodgerblue;
cursor: pointer;
border-radius: 50%;	
	
	
}













.maindiv { background-color:white;
	color:black;
	width:400px;
	padding:20px;
	border-radius:25px;
	margin:auto;
	line-height:normal;
}

#mainform { margin:auto; 
	line-height:30px;
	display:table;
}

#mainform p { display: table-row; 
}

#mainform label { display:table-cell
}

.result { display:none;
}

footer {padding: 0px 10px;
	padding-top:10px;
}